.App {
  text-align: center;
}
.body{
  background-color: "lime";
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-image: url("./images/hogwarts.jpg");
  background-color: #cccccc;
  background-size: cover;
 }

 p, h1, li, header {
  font-family: 'Harry Potter Regular';
  src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
  color: gold;
  font-size: 30px;
  text-shadow: 2px 2px black;
  }

 @font-face {
  font-family: 'Harry Potter Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
